{% extends "base.html" %}

{% block content %}
    <h2>Doctors</h2>
    <form method="get" action=".">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if query %}
        <h2>Results for "{{ query }}"</h2>
        <ul>
            {% for result in results %}
                <li>
                    <a href="{% url 'doctor_detail' result.pk %}">{{ result.name }} - {{ result.specialization }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        {% for doctor in doctors %}
            <li>
                <a href="{% url 'doctor_detail' doctor.pk %}">{{ doctor.name }} - {{ doctor.specialization }} - fees:{{ doctor.fees }}, time:{{ doctor.day_of_week }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
